<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Blog Cloud</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:insert="fragments/header :: style">...</div>
</head>
<body>
    <div th:replace="fragments/header :: navbar">...</div>
    <p th:text="${'Welcome to ' + blog.getAuthor() + '''s blog!'}">...</p>
    <table th:if="${posts != null}">
        <tr th:each="post: ${posts}">
            <td><span th:text="${post.getTitle()}">Title</span></td>
            <td><a th:href="@{'/blog/' + ${post.getBlogId() + '/' + post.getId()}}">View</a></td>
        </tr>
    </table>
</body>
</html>