<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Blog Cloud</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:insert="fragments/header :: style">...</div>
</head>
<body>
    <div th:replace="fragments/header :: navbar">...</div>

    <tr th:each="id: ${testMap}" th:with="post=${id.value}">
        
        <h2 th:text="${post.getTitle()}">Title</h2>
        <a th:href="@{'/test/edit/' + ${post.getTestId()}}">Edit</a>

        <br></br>

    </tr>

</body>
</html>