<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog Cloud</title>
    <script th:src="${tinyUrl}" referrerpolicy="origin"></script>
    <div th:insert="fragments/header :: style">...</div>
</head>
<body>
    <div th:replace="fragments/header :: navbar">...</div>
    <div class="container">
        <form id="addEditForm" th:action="@{${submitPath}}" th:object="${blogPost}" method="POST">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{blogId}">
            <input type="hidden" th:field="*{createdDate}">
            <div class="row">
                <div class="col-md-9">
                    <h1>Title</h1>
                    <div>
                        <input type="text" class="form-control" style="width:100%" maxlength="128" th:field="*{title}" placeholder="Enter title here"/>
                    </div>
                </div>
            </div>
            <h1>Body</h1>
            <div class="row">
                <div class="col-md-9">
                    <textarea th:field="*{bodyHtml}" style="width:100%; height:600px"></textarea>
                    <script>
                        tinymce.init({
                            selector: '#bodyHtml',
                            plugins: 'link lists media code',
                            toolbar: 'alignleft aligncenter alignright alignjustify | formatselect | bullist numlist | outdent indent | link code',
                            toolbar_mode: 'floating',
                        });
                    </script>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <input type="submit" value="Save"/>
                </div>
            </div>
        </form>
    </div>
</body>
</html>